.App {
  text-align: center;
  background: url('../src/Assets/Images/everoo-bg.png') no-repeat center center fixed;
  background-size: cover;
  /* height: 100vh; */
}

.everooContainer {
  max-width: 84rem;

  .inputFields {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }


}

.PhoneInput {
  width: -webkit-fill-available;
  border: 1px solid #d9d9d9;
  border-radius: 6px;

  .PhoneInputInput {
    outline: none;
  }

  &:hover {
    border-color: #5E9894;
  }

}

.ant-steps.ant-steps-label-vertical .ant-steps-item {
  overflow: hidden;
}

.ant-steps.ant-steps-label-vertical .ant-steps-item-tail {
  margin-inline-start: 63px;
  padding: 18px 31px;

}

.ant-steps.ant-steps-vertical {
  display: grid;
  justify-content: center;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #5E9894;
}

.ant-steps .ant-steps-item:not(.ant-steps-item-active)>.ant-steps-item-container[role='button']:hover .ant-steps-item-title,
.ant-steps .ant-steps-item:not(.ant-steps-item-active)>.ant-steps-item-container[role='button']:hover .ant-steps-item-subtitle,
.ant-steps .ant-steps-item:not(.ant-steps-item-active)>.ant-steps-item-container[role='button']:hover .ant-steps-item-description {
  color: #5E9894;
}

.ant-steps .ant-steps-item-title {
  color: #5E9894;
  font-size: 12px;
  font-weight: 700;
}

.ant-steps .ant-steps-item-process>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: #5E9894;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title {
  color: #5E9894;
}

.ant-steps .ant-steps-item-wait>.ant-steps-item-container>.ant-steps-item-tail::after {
  background-color: #A1AEBE;
}

.ant-select-single {
  height: 59px;
}

.ant-space-gap-col-small {
  justify-content: space-between;
  display: flex;
}

.ant-dropdown-trigger {
  width: 85%;
}

.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer):hover .ant-select-selector {
  border-color: #5E9894;
}

.ant-input-affix-wrapper:hover {
  border-color: #5E9894;
}

.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:focus-within {
  border-color: #5E9894;
}

.ant-select-focused {
  border-color: #5E9894;

  .ant-select-selector {
    border-color: #5E9894 !important;
  }
}

.ant-select-active {
  border-color: #5E9894;
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  font-weight: 600;
  background-color: #E0FFFC;
}

.ant-layout-header {
  height: 64px;
  padding: 0px;
  color: rgba(0, 0, 0, 0.88);
  line-height: 64px;
  background: transparent;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):active {
  color: #fff;
  background-color: black;
  min-height: 40px;
  box-shadow: 0px 15px 20px rgba(1, 1, 1, .2) !important;
  transform: translateY(-7px);
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
  color: #fff;
  background-color: black;
  min-height: 40px;
  box-shadow: 0px 15px 20px rgba(1, 1, 1, .2) !important;
  transform: translateY(-7px);
}

.ant-btn {
  color: #fff;
  background-color: #5E9894;
  min-height: 40px;
  box-shadow: 0px 8px 15px rgba(1, 1, 1, .1) !important;
  transition: all 0.3s ease 0s;
}

.ant-menu-light,
.ant-menu-light>.ant-menu {
  color: rgba(0, 0, 0, 0.88);
  background: transparent;
}

.ant-menu-horizontal {
  line-height: 46px;
  border: 0;
  border-bottom: none;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-item-selected,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected,
.ant-menu-light>.ant-menu.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #5E9894 !important;
  background-color: transparent;
}

.ant-menu-item-selected {
  color: #5E9894 !important;
  background-color: transparent;

  &::after {
    border-bottom-color: #5E9894 !important;
  }
}

.ant-steps {
  line-height: 1.5714285714285714;
  width: 100%;
  text-align: initial;
  /* justify-content: center; */
}

.customeFontFamily {
  font-family: 'Montserrat', sans-serif !important;
}

.ant-menu-root {
  width: 100% !important;
}